
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100&family=Oswald:wght@300;500&display=swap');

*{
    font-family: 'Oswald', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    background-color: #faf8f8;
}

.all{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url("../IMG/FondoTodo.png");
height: 700px;
width: cover;

}

h1{
    font-family: fantasy;
}

.inputPoke{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
    width: 400px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(28, 59, 195);
    color: aliceblue;
}

.titulo{
    padding-bottom: 2rem;
    }

.ball{
    margin-top: 1rem;
    width: 100px;
    height: 100px;
}

.pokemonContainer{
   background-image: url("../IMG/fondo.png") ;
   display: flex;
   position: center;
   justify-content: center;
   text-align: center;
   align-items: center;
   border: 10px solid rgb(30, 29, 29); 
   width: 400px;
}

.titulopo{
    width: cover;
    height: 100px;
}

.pokemon-block img{
    width: 300px;
    height: 300px;
}

.name{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    width: cover;
    padding-top: 1rem;
    
}

.pokemon-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
}

.divForm form{
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.divForm h1{
    margin-bottom: 2rem;
    text-align: center;
}

.divForm{
    gap: 1rem; 
}